.body{
    background-image: url("https://wallpapercave.com/wp/wp6705749.jpg");
    width: 100%;
    height: 880px;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}
.div1{
    height: 430px;
    width: 360px;
    background-color: white; 

}
.section{
    font-family: sans-serif;
    font-weight: 800;
    padding-left: 15px;
    padding-top: 18px;
    font-size: 18px

}
.div2{
    width: 360px;
    height: 140px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;


}
.div3{
    width: 175px;
    height: 120px;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 13px;
    
}
.img1{
    width: 175px;
    height: 120px;
}
.span1{
    padding-left: 10px;
}
.div4{
    width: 360px;
    height: 140px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
}
.div5{
    width: 175px;
    height: 120px;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 13px;
}
.img2{
    width: 175px;
    height: 120px;
}
.span2{
    padding-left: 10px;
}
.div6{
    width: 175px;
    height: 85px;
    padding-left: 15px;
    display: flex;
    align-items: center;
    font-family: sans-serif;
    font-weight: 600;
}
.a1{
    text-decoration: none;
    box-shadow: 0px 0px 25px 1px blue;
    color: blue;
    border-radius: 5px;
}






.div7{
    height: 430px;
    width: 360px;
    background-color: white; 

}
.section1{
    font-family: sans-serif;
    font-weight: 800;
    padding-left: 15px;
    padding-top: 18px;
    font-size: 18px

}
.div8{
    width: 360px;
    height: 140px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;


}
.div9{
    width: 175px;
    height: 120px;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 13px;
    
}
.img3{
    width: 145px;
    height: 90px;
}
.span3{
    padding-left: 15px;
}
.div10{
    width: 360px;
    height: 140px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
}
.div11{
    width: 175px;
    height: 120px;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 13px;
}
.img4{
    width: 155px;
    height: 100px;
}
.span4{
    padding-left: 10px;
}
.div12{
    width: 175px;
    height: 85px;
    padding-left: 15px;
    display: flex;
    align-items: center;
    font-family: sans-serif;
    font-weight: 600;
}
.a2{
    text-decoration: none;
    box-shadow: 0px 0px 25px 1px rgb(197, 103, 26);
    color: rgb(197, 103, 26);
    border-radius: 5px;
}





.div13{
    height: 430px;
    width: 360px;
    background-color: white;
    
}
.section2{
    font-family: sans-serif;
    font-weight: 800;
    padding-left: 15px;
    padding-top: 18px;
    font-size: 18px
}
.div14{
    width: 360px;
    height: 140px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
}
.div15{
    width: 175px;
    height: 120px;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 13px;
    padding-left: 15px;
}
.img5{
    width: 155px;
    height: 100px;
}
.span5{
    padding-left: 15px;
}
.div16{
    width: 360px;
    height: 140px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
}
.div17{
    width: 175px;
    height: 120px;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 13px;
    padding-left: 15px;
}
.img6{
    width: 155px;
    height: 100px;
}
.div18{
    width: 175px;
    height: 85px;
    padding-left: 15px;
    display: flex;
    align-items: center;
    font-family: sans-serif;
    font-weight: 600;
    
}
.a3{
    text-decoration: none;
    box-shadow: 0px 0px 25px 1px rgb(113, 199, 43);
    color: rgb(113, 199, 43);
    border-radius: 5px;
}
.div19{
    width: 360px;
    height: 150px;
    background-color: white;
   
}
.p1{
    font-family: sans-serif;
    font-weight: 800;
    font-size: 18px;
    display: flex;
    justify-content: center;
    
}
.button{
    width: 300px;
    height: 35px;
    background-color: gold;
    outline: none;
    border: none;
    border-radius: 10px;
    margin-left: 30px;
    font-family: sans-serif;
    font-weight: 700;
}
.div20{
    width: 320px;
    height: 270px;
    background-color: wheat;
    margin-top: 63px;
    margin-left: 15px;
    
}
.img7{
    width: 320px;
    height: 270px;
}






.div21{
    height: 430px;
    width: 360px;
    background-color: white;

}
.pp{
    font-family: sans-serif;
    font-weight: 800;
    font-size: 19px;
    padding-left: 20px;
    
}
.div22{
    width: 320px;
    height: 300px;
    margin-top: 15px;
    margin-left: 20px;
    
}
.img8{
    width: 320px;
    height: 300px;
    
}
.div23{
    width: 350px;
    height: 70px;
    display: flex;
    align-items: center;
}
.aaa{
    text-decoration: none;
    padding-left: 20px;
    
}





.div21{
    height: 430px;
    width: 360px;
    background-color: white;

}
.pp{
    font-family: sans-serif;
    font-weight: 800;
    font-size: 19px;
    padding-left: 20px;
    
}
.div22{
    width: 320px;
    height: 300px;
    margin-top: 15px;
    margin-left: 20px;
    
}
.img8{
    width: 320px;
    height: 300px;
    
}
.div23{
    width: 350px;
    height: 70px;
    display: flex;
    align-items: center;
}
.aaa{
    text-decoration: none;
    padding-left: 20px;
    
}





.div21{
    height: 430px;
    width: 360px;
    background-color: white;

}
.pp{
    font-family: sans-serif;
    font-weight: 800;
    font-size: 19px;
    padding-left: 20px;
    
}
.div22{
    width: 320px;
    height: 300px;
    margin-top: 15px;
    margin-left: 20px;
    
}
.img8{
    width: 320px;
    height: 300px;
    
}
.div23{
    width: 350px;
    height: 70px;
    display: flex;
    align-items: center;
}
.aaa{
    text-decoration: none;
    padding-left: 20px;
    
}





.div21{
    height: 430px;
    width: 360px;
    background-color: white;

}
.pp{
    font-family: sans-serif;
    font-weight: 800;
    font-size: 19px;
    padding-left: 20px;
    
}
.div22{
    width: 320px;
    height: 300px;
    margin-top: 15px;
    margin-left: 20px;
    
}
.img8{
    width: 320px;
    height: 300px;
    
}
.div23{
    width: 350px;
    height: 70px;
    display: flex;
    align-items: center;
}
.aaa{
    text-decoration: none;
    padding-left: 20px;
    font-family: sans-serif;
    
}


